# Created by http://www.gitignore.io

### Compass ###
.sass-cache


### NetBeans ###
nbproject/


### Ruby ###
*.rb

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files

*.bat